<!DOCTYPE html>
<html>
<head>
  <title>Votefy</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class = "container-fluid" id="container">

    <div class = "row page-header" id="header">
      <h1 class = "col-md-2 text-center" id="headtext">VOTEFY</h1>
    </div>

  <div class= "col-md-4" id="userinput">
  <form action="/songs" method="post"> <!-- grabbing the user input -->
    <input type="text" name="artist" placeholder="Artist name" required>
    <input type="text" name="track" placeholder="Song name" required>
    <button id="add" class="btn"><i class="fa fa-plus fa-2x"></i></button>
  </form>
</div>

  <form action = "/songs/play" method = "GET">
    <button id="gen" class="btn"><img src="play-green.svg"></button>
  </form>

  <div id="fullplay">
  <ul class="col-md-6">
    <% playlist.each do |playlist| %>
      <li id="playlist">
        <p id="name"><%= playlist[1] %> - <%= playlist[2] %></p>
        <p id="votes"><%= playlist[4] %> VOTE(S) </p>
        <!-- specifying what things from the databse to show. -->
        <form action="/songs/<%= playlist[0] %>/up" method = "POST">
          <input name="_method" value="PUT" type="hidden">
          <button id="button" class="btn" ><i class="fa fa-arrow-up fa-3x"></i></button>
        </form>
        <form action="/songs/<%= playlist[0] %>/down" method = "POST">
          <input name="_method" value="PUT" type="hidden">
          <button id="button" class="btn" ><i class="fa fa-arrow-down fa-3x"></i></button>
        </form>
        <form action="/songs/<%= playlist[0] %>" method="POST">
          <input name="_method" value="DELETE" type="hidden">
          <button id="button" class="btn"><i class="fa fa-times fa-3x"></i></button>
        </form>
      </li>
    <% end %>
  </ul>
</div>

</div> <!-- closes container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
  var button = document.getElementById ("gen")
  button.addEventListener("click", function(){
    var xhr = new XMLHttpRequest();
      xhr.open("GET", "http://localhost:4567/songs/play");
      xhr.addEventListener("load", function(){
        var data = JSON.parse(xhr.responseText);
        var iframe = document.getElementById("iframe");
        iframe.src = data
      });
  xhr.send();
  })

  </script>
</body>
</html>
