<!DOCTYPE html>
<html>
<head>
  <title>Votefy</title>
  <link rel="stylesheet" type="text/css" href="/styleshow.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class = "container-fluid" id="container">

    <div class = "row page-header" id="header">
      <a href="http://localhost:4567/songs"><h1 class = "col-md-2 text-center" id="headtext">VOTEFY</h1></a>
    </div>

<div class="row">



</div> <!-- closes first row -->

  <div id="fullplay">
  <ul class="col-md-4">
    <% playlist.each do |playlist| %>
      <li id="playlist">
        <%= playlist[1] %> - <%= playlist[2] %>
        <!-- <p id="votes"><%= playlist[4] %> VOTES </p> -->
        <!-- specifying what things from the databse to show. -->
        <!-- <form action="/songs/<%= playlist[0] %>/up" method = "POST">
          <input name="_method" value="PUT" type="hidden">
          <button id="up" class="btn col-md-2" ><i class="fa fa-arrow-up fa-3x"></i></button>
        </form>
        <form action="/songs/<%= playlist[0] %>/down" method = "POST">
          <input name="_method" value="PUT" type="hidden">
          <button id="button" class="btn col-md-2" ><i class="fa fa-arrow-down fa-3x"></i></button>
        </form>
        <form action="/songs/<%= playlist[0] %>" method="POST">
          <input name="_method" value="DELETE" type="hidden">
          <button id="button" class="btn col-md-2"><i class="fa fa-times fa-3x"></i></button>
        </form> -->
      </li>
    <% end %>
  </ul>
</div>
<iframe frameborder="0" allowtransparency="true" width="622" height="600" src = <%= final_URL%> ></iframe>
</div> <!-- closes container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- // var button = document.getElementById ("gen")
  // button.addEventListener("click", function(){
  //   var xhr = new XMLHttpRequest();
  //     xhr.open("GET", "http://localhost:4567/songs/play");
  //     xhr.addEventListener("load", function(){
  //       var data = JSON.parse(xhr.responseText);
  //       var iframe = document.getElementById("iframe");
  //       iframe.src = data
  //     });
  // xhr.send();
  // })
  //  -->
</body>
</html>
